/*Reference: Responsive layout examples */
.container{
    width: 961px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas:
    "header     header         header"
    "left-nav   main-content   right-rail"
    "footer     footer         footer";
}